* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}
.wrapper {
  background: white;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #1e2939;
  width: 370px;
  /* padding-top: 40px; */
  padding-bottom: 40px;
}
.my-foto {
  width: 370px;
}
.about-me-conitener {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-conitener {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.lng-contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5c6470;
}
.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.lng-Tech-skill-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.Tech-skill-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.Tech-skill-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.Tech-skill-text {
  color: #5c6470;
}

.lng-Soft-skill-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.Soft-skills-container {
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}
.Soft-skill-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.Soft-skill-text {
  color: #5c6470;
}
.lng-profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}
.lng-name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.lng-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.project-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #bebebe;
  font-weight: 100;
}
.project-title-item {
  font-weight: 700;
  margin-left: 17px;
}
.project-cointener {
  margin-bottom: 55px;
}
.profesion-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profesion-company {
  color: #ff6b08;
}
.profesion-time {
  color: #a8a8a8;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profesion-divider {
  color: #000000;
}
.profesion-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.profesion-duties-item {
  color: #595959;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.management {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.language-box {
  /* height: 40px; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.lang-flag {
  list-style: none;
  width: 40px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
.lang-flag:hover {
  /* filter: none; */
  transform: scale(1.2);
}

.lang-flag.active {
  filter: none;
  filter: drop-shadow(1px 1px 8px gold);
}

h3 {
  margin-top: 30px;
}
